{% extends "base.html" %} 

{% block title %}
Google+ Relying Party 
{% endblock %}

{% block main %}
<h2>Guideline</h2>
<ul>
 <li>Look At Google Authentication at 
    <a target="_outside" 
    href="https://developers.google.com/accounts/docs/OAuth2Login">Using OAuth 2.0 for Login (OpenID Connect)</a>
 </li>

 <li>
   Go to <a target="_outside2" href="https://console.developers.google.com/project">Developer Console</a>
 </li>
 <li>
   Select "PROJECT NAME", or "CREATE PROJECT".
 </li>
 <li>
   Go to "APIs & auth > Credentials"
 </li>
 <li>
   "CREATE NEW CLIENT ID" and use "{{ redirect_uri }}" as Redirect Uris" for "web" application.
 </li>
</ul>

<h2>Relying Party Edit</h2>
<div>
<form method="post" action={{ action_url }} > {% csrf_token %}
  Idenfider = {{ form.instance.reg_object.client_id }} 
<table>
  {{ form.as_table }}
</table>
<div style="text-align:right">
  <button class="btn btn-default" type="submit" name="save" value="save">Save</button>
  {% if form.instance.id %}
    <a  class="btn btn-default" href="{% url 'rp_settings' vender=vender id=form.instance.id %}">Cancel</a> 
  {% else %}
    <a  class="btn btn-default" href="{% url 'rp_settings' vender=vender  %}">Cancel</a> 
  {% endif %}
</div>
</form>
</div>
{% endblock %}
